<div class="formContainer">

  <ng-container *ngIf="!isEditing; then addNewTodoTitle else editTodoTitle"></ng-container>
  <ng-template #addNewTodoTitle><h1 class="title">Add a new todo</h1></ng-template>
  <ng-template #editTodoTitle><h1 class="title">Edit todo</h1></ng-template>

  <form (ngSubmit)="onSubmit()" [formGroup]="addNewTodoForm" class="newTodoForm">
    <label class="red-asterisk" for="newTodo-title">Todo</label>

    <input
      id="newTodo-title"
      class="todo-input"
      [class.error]="newTodoTitle.invalid && newTodoTitle.touched"
      [placeholder]="'what are you going to do next...'"
      formControlName="title"
      type="text">
    <span
      *ngIf="newTodoTitle.invalid && newTodoTitle.touched"
      class="error-message">
      please, write here your new todo
    </span>

    <h3 class="new-todo-title red-asterisk">Status</h3>
    <input
      id="'RadioButton.completed'"
      formControlName="status"
      name="status"
      type="radio"
      value="{{ RadioButton.completed }}">
    <label for="'RadioButton.completed'">{{ RadioButton.completed }}</label><br>

    <input
      id="'RadioButton.ongoing'"
      formControlName="status"
      name="status"
      type="radio"
      value="{{ RadioButton.ongoing }}">
    <label for="'RadioButton.ongoing'">{{ RadioButton.ongoing }}</label><br>

    <input
      id="'RadioButton.pending'"
      formControlName="status"
      name="status"
      type="radio"
      value="{{ RadioButton.pending }}">

    <label for="'RadioButton.pending'">{{ RadioButton.pending }}</label><br>

    <span *ngIf="addNewTodoForm.invalid && addNewTodoForm.touched" class="error-message">please, mark the status</span>

    <button
      class="button disabled:bg-grey-600"
      [ngClass]="isEditing ? 'button-update' : 'button-new'"
      type="submit"
      [disabled]="addNewTodoForm.invalid && !addNewTodoForm.touched">
      {{ buttonText }}
    </button>

    <button
      *ngIf="isEditing"
      class="button button-cancel"
      type="button"
      (click)="onCancel()">
      cancel
    </button>
  </form>
</div>
