<div *ngIf="!isNewTodoSavedMessage" class="formContainer">
  <h2 class="text-xl font-medium text-grey-900 pt-10 px-40">Add a new todo</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="addNewTodoForm" class="newTodoForm">
    <div>
      <label
        class="block after:content-['*'] after:ml-0.5 after:text-red-600 mt-6"
        for="newTodo-title">
        new todo
      </label>

      <input
        [class.error]="newTodoTitle.invalid && newTodoTitle.touched"
        [placeholder]="'new todo'"
        class="bg-grey-100 w-full border rounded p-2 h-8 box-border"
        formControlName="newTodoTitle"
        id="newTodo-title"
        type="text">
      <span
        *ngIf="newTodoTitle.invalid && newTodoTitle.touched"
        class="text-red-600 block absolute">
                please, write here the new todo
      </span>
    </div>

    <div>
      <h3 class="mt-3">Status</h3>
      <input formControlName="newTodoTitleStatus" id="{{ RadioButton.completed }}" name="newTodoTitleStatus"
             type="radio" value="{{ RadioButton.completed }}">
      <label for="{{ RadioButton.completed }}">{{ RadioButton.completed }}</label><br>

      <input formControlName="newTodoTitleStatus" id="{{ RadioButton.ongoing }}" name="newTodoTitleStatus" type="radio"
             value="{{ RadioButton.ongoing }}">
      <label for="{{ RadioButton.ongoing }}">{{ RadioButton.ongoing }}</label><br>

      <input formControlName="newTodoTitleStatus" id="{{ RadioButton.pending }}" name="newTodoTitleStatus" type="radio"
             value="{{ RadioButton.pending }}">
      <label for="{{ RadioButton.pending }}">{{ RadioButton.pending }}</label><br>
    </div>

    <span
      *ngIf="addNewTodoForm.invalid && addNewTodoForm.touched"
      class="text-red-600 block absolute">
                please, mark the status
      </span>

    <button
      [disabled]="addNewTodoForm.invalid"
      class="button button-new"
      type="submit">
      add new todo
    </button>
  </form>
</div>
