<div class="container">
  <div *ngFor="let card of (todos$ | async)" class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <span class="todo-title">{{ card.title }}</span>
      </div>

      <div class="flip-card-back">
        <span class="todo-title">{{ card.title }}</span>
        <span class="status">{{ card.status }}</span>

        <div>
          <button class="button button-edit" (click)="onEdit(card.id)">
            <img src="assets/icons/edit.svg" alt="edit todo icon" height="16" width="16">
          </button>

          <button class="button button-delete" (click)="onDeleteTodo(card.id)">
            <img src="assets/icons/delete.svg" alt="delete todo icon" height="16" width="14">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
