<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front" [ngClass]="editedId === todo.id ? 'selected' : 'flip-card-front'">
      <span class="todo-title">{{ todo.title }}</span>
    </div>

    <div class="flip-card-back" [ngClass]="editedId === todo.id ? 'selected' : 'flip-card-back'">
      <span class="todo-title">{{ todo.title }}</span>

      <span class="status">{{ todo.status }}</span>

      <div>
        <button class="button button-edit" (click)="toggleEdit(todo.id)">
          <img src="assets/icons/edit.svg" alt="edit todo icon" >
        </button>

        <button class="button button-delete" (click)="onDeleteTodo(todo.id)">
          <img src="assets/icons/delete.svg" alt="delete todo icon">
        </button>
      </div>
    </div>
  </div>
</div>
